<footer class="footer">
  <div class="main-footer">
    <div class="contacts">
      <a class="contacts__contact" href="#"><span>Почта</span></a>
      <a class="contacts__contact" href="#"><span>Telegram</span></a>
      <a class="contacts__contact" href="#"><span>VK</span></a>
    </div>
    <div class="location">г. Санкт-Петербург 52</div>
  </div>
  <div class="footer__load-time">
    {{#if elapsedTime}}
      <span>Server: {{elapsedTime}}</span>
    {{/if}}
  </div>
</footer>