<footer class="footer">
  <div class="main-footer">
    <div class="contacts">
      <a class="contacts__contact" href="#"><span>Почта</span></a>
      <a class="contacts__contact" href="#"><span>Telegram</span></a>
      <a class="contacts__contact" href="#"><span>VK</span></a>
    </div>
    <div class="location">г. Санкт-Петербург 52</div>
  </div>
</footer>