.category-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-left: 8vw;
}

@media screen and (width >=576px) {
    .category-list {
        margin-bottom: 30px;
        padding-left: 60px;
    }
}
