<main class="main">
    <p class="main__title">Мои стажировки</p>

    <form class="internship-form">
        <label for="internshipName" class="internship-form__label">Название стажировки:</label>
        <input type="text" id="internshipName" name="internshipName" class="internship-form__input">

        <label for="status" class="internship-form__label">Статус:</label>
        <select id="status" name="status" class="internship-form__input">
            <option value="active">Активна</option>
            <option value="completed">Завершена</option>
            <option value="outdated">Устарела</option>
        </select>

        <label for="dates" class="internship-form__label">Даты (опционально):</label>
        <input type="text" id="dates" name="dates" class="internship-form__input">

        <button type="submit" class="internship-form__button">Добавить
            стажировку</button>
    </form>

    <table class="internships-table">
        <thead>
            <tr>
                <th class="internships-table__td internships-table__td_header">Название</th>
                <th class="internships-table__td internships-table__td_header">Статус</th>
                <th class="internships-table__td internships-table__td_header">Даты</th>
                <th class="internships-table__td internships-table__td_header internships-table__td_last"></th>
            </tr>
        </thead>
        <tbody>
            {{#each myInternships}}
            <tr>
                <td class="internships-table__td">{{name}}</td>
                <td class="internships-table__td">{{status}}</td>
                <td class="internships-table__td">{{dates}}</td>
                <td class="internships-table__td internships-table__td_last">
                    <button style="background: none; border: none; color: red; cursor: pointer;">✖</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</main>