{{#section 'styles'}}
  <link rel="stylesheet" href="/blocks/internship-form/internship-form.css">
  <link rel="stylesheet" href="/blocks/internship-form/internship-form__button.css">
  <link rel="stylesheet" href="/blocks/internship-form/internship-form__button_lighter.css">
  <link rel="stylesheet" href="/blocks/internship-form/internship-form__input.css">
  <link rel="stylesheet" href="/blocks/internship-form/internship-form__label.css">
  <link rel="stylesheet" href="/blocks/main/main__title.css">
{{/section}}

{{#section 'scripts'}}
{{/section}}

<main class="main">
  <p class="main__title">Добавить новую стажировку</p>

  <form class="internship-form" action="/internship" method="POST" enctype="multipart/form-data">
    <label for="name" class="internship-form__label">Название стажировки:</label>
    <input type="text" id="name" name="name" class="internship-form__input" required>

    <label for="companyUrl" class="internship-form__label">Ссылка на компанию:</label>
    <input type="url" id="companyUrl" name="companyUrl" class="internship-form__input" required>

    <label for="imageFile" class="internship-form__label">Логотип:</label>
    <input type="file" id="imageFile" name="imageFile" class="internship-form__input">

    <label for="date" class="internship-form__label">Даты:</label>
    <input type="text" id="date" name="date" class="internship-form__input">

    <label for="category" class="internship-form__label">Категория:</label>
    <input list="categoryList" id="category" name="category" class="internship-form__input">
    <datalist id="categoryList">
      {{#each menu}}
        <option value="{{this.label}}">{{this.label}}</option>
      {{/each}}
    </datalist>

    <label for="tags" class="internship-form__label">Теги (через запятую):</label>
    <input list="tagList" type="text" id="tags" name="tags" class="internship-form__input">
    <datalist id="tagList">
      {{#each tags}}
        <option value="{{this.name}}">{{this.name}}</option>
      {{/each}}
    </datalist>

    <div style="display: flex; align-items: center; margin-bottom: 15px;">
      <input type="hidden" name="closed" value="false">
      <input type="checkbox" id="closed" name="closed" value="true" style="margin-right: 10px;">
      <label for="closed" class="internship-form__label" style="margin-bottom: 0;">Закрыта</label>
    </div>

    <button type="submit" class="internship-form__button">Добавить</button>
  </form>
</main>