<main class="main">
    <p class="main__title">Профиль пользователя</p>

    <div class="loader">
        <div class="loader__spinner"></div>
    </div>
    <div class="user-profile">
        <p class="user-profile__el user-profile__el_hidden"></p>
        <p class="user-profile__el user-profile__el_hidden"></p>
        <p class="user-profile__el user-profile__el_hidden"></p>
        <p class="user-profile__el user-profile__el_hidden"></p>
        <p class="user-profile__el user-profile__el_hidden"></p>
        <p class="user-profile__el user-profile__el_hidden"></p>
    </div>
</main>