{{#section 'styles'}}
<link rel="stylesheet" href="/blocks/loader/loader.css">
<link rel="stylesheet" href="/blocks/loader/loader__spinner.css">
<link rel="stylesheet" href="/blocks/main/main__title.css">
<link rel="stylesheet" href="/blocks/user-profile/user-profile.css">
<link rel="stylesheet" href="/blocks/user-profile/user-profile__el.css">
<link rel="stylesheet" href="/blocks/user-profile/user-profile__el_hidden.css">
<link rel="stylesheet" href="/blocks/detail-buttons/detail-buttons.css">
<link rel="stylesheet" href="/blocks/detail-buttons/detail-buttons__el.css">
{{/section}}

{{#section 'scripts'}}
<script src="/blocks/user-profile/user-profile.js" defer></script>
{{/section}}

<main class="main">
  <p class="main__title">Профиль пользователя</p>

  <div class="loader">
    <div class="loader__spinner"></div>
  </div>
  <div class="user-profile">
    <p class="user-profile__el user-profile__el_hidden"></p>
    <p class="user-profile__el user-profile__el_hidden"></p>
    <p class="user-profile__el user-profile__el_hidden"></p>
    <p class="user-profile__el user-profile__el_hidden"></p>
    <p class="user-profile__el user-profile__el_hidden"></p>
    <p class="user-profile__el user-profile__el_hidden"></p>

    <div class="detail-buttons">
      <form action="/api/auth/logout" method="POST">
        <button type="submit" class="detail-buttons__el">Выйти</button>
      </form>
    </div>
    <div class="detail-buttons">
      <a href="/user/edit" class="detail-buttons__el">Редактировать</a>
      <form action="/user" method="POST" style="display: inline;">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit" class="detail-buttons__el"
          onclick="return confirm('Вы уверены, что хотите удалить аккаунт?')">Удалить аккаунт</button>
      </form>
    </div>

  </div>
</main>