.loader__spinner {
    width: 80px;
    height: 80px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #02c657;
    border-radius: 50%;

    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}